@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.nav-bar {
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30vh;
  height: 20vh;
}
  
.nav-bar-btn {
  padding: 1vw;
  font-size: 20px;
  width: 10vw;
  transition: transform .2s;
}
  
.nav-bar-btn:hover {
  transform: scale(1.25);
}

.proj-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.proj-btn {
  width: 100vw;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.proj-btn:hover>.proj-btn-text {
  opacity:1;
}

.proj-btn-image {
  width: 20vw;
  border: 0.25vw solid black;
}

.proj-btn-text {
  width: 20.5vw;
  height: 45%;
  position: absolute;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(36, 36, 36);
  background-color: rgba(255, 255, 255, 0.651);
  text-align: center;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 95vw;
}

.about-third {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 33.3vw;
}

.contact-container {
  margin: 0 auto;
}

.contact-form-container {
  width: 400px;
}

.contact-header {
  width: 100%;
  height: 200px;
  font-size: 4em;
  text-align: center;
  margin: auto;
}

.contact-form {
  scale: 2;
  width: 100%;
  border-radius: 25px;
  background: #a8a8a8;
  padding: 20px;
  padding-top: 10px;
}

.contact-error {
  width: 100%;
  color: red;
  font-size: 0.5em;
  text-align: center;
}

.contact-info-container {
  width: 50%;
  float: left;
}

.contact-message-container {
  width: 50%;
  float: right;
}

.contact-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-input-container {
  width: 100%;
}

.contact-combine {
  position: relative;
  padding: 0;
  margin: 0;
}

.contact-label {
  font-size: 0.75em;
}

.contact-icon {
  position:absolute;
  bottom: 7px;
  left:8px;
  width:11px;
  height:10px;
}

.contact-input {
  font-family:'Lato';
  height:20px;
  margin:0;
  padding-left:22px;
  width: 75%;
  font-size: 0.55em;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.contact-textarea {
  margin-top: 1px;
  font-family:'Lato';
  font-size: 0.55em;
  height: 112.5px;
  width: 95%;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.contact-btn {
  font-family:'Lato';
  font-size: 0.7em;
  width: 25%;
  top: 85%;
  position: absolute;
  left: 35%;
  text-align: center;
}